<div class="site-wrapper">
    <div class="inner-frame">

        <div id="plans" class="pricing">
            <div class="container">
                <!-- <div data-w-id="1973bfe6-8075-674b-57c6-174cce2c7940"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="divider__wrapper"><img
                        src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65dd4e1e93fb91fc0107e0c9_divider.svg"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="1973bfe6-8075-674b-57c6-174cce2c7941" alt="" class="divider m-t-20 m-2-30"></div> -->
                <!-- <div class="pricing__flex">
                    <div data-w-id="895bc74e-6c1c-7c4e-3c2e-57a1a886b0ee"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        class="pricing__left">
                        <div class="pricing__left-top">
                            <div class="available__pill">
                                <div class="slots-available">
                                    <div class="lottie-animation" data-w-id="d3880d67-09ed-8f12-9f44-d6b801514986"
                                        data-animation-type="lottie"
                                        data-src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de1196943434239922de02_8C5oW45T3h%20(1).json"
                                        data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                                        data-renderer="svg" data-default-duration="1.8333333333333333"
                                        data-duration="0"><svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30 30" width="30"
                                            height="30" preserveAspectRatio="xMidYMid meet"
                                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                                            <defs>
                                                <clipPath id="__lottie_element_189">
                                                    <rect width="30" height="30" x="0" y="0"></rect>
                                                </clipPath>
                                            </defs>
                                            <g clip-path="url(#__lottie_element_189)">
                                                <g transform="matrix(0.7552722692489624,0,0,0.7552722692489624,15,15)"
                                                    opacity="0.1577947385520168" style="display: block;">
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                                        <path fill="rgb(0,0,0)" fill-opacity="1"
                                                            d=" M9,0 C9,0 9,0 9,0 C9,4.967100143432617 4.967100143432617,9 0,9 C0,9 0,9 0,9 C-4.967100143432617,9 -9,4.967100143432617 -9,0 C-9,0 -9,0 -9,0 C-9,-4.967100143432617 -4.967100143432617,-9 0,-9 C0,-9 0,-9 0,-9 C4.967100143432617,-9 9,-4.967100143432617 9,0z">
                                                        </path>
                                                    </g>
                                                </g>
                                                <g transform="matrix(0.9454751014709473,0,0,0.9454751014709473,15,15)"
                                                    opacity="1" style="display: block;">
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                                        <path fill="rgb(0,0,0)" fill-opacity="1"
                                                            d=" M5.625,0 C5.625,0 5.625,0 5.625,0 C5.625,3.1044375896453857 3.1044375896453857,5.625 0,5.625 C0,5.625 0,5.625 0,5.625 C-3.1044375896453857,5.625 -5.625,3.1044375896453857 -5.625,0 C-5.625,0 -5.625,0 -5.625,0 C-5.625,-3.1044375896453857 -3.1044375896453857,-5.625 0,-5.625 C0,-5.625 0,-5.625 0,-5.625 C3.1044375896453857,-5.625 5.625,-3.1044375896453857 5.625,0z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></div>
                                    <p class="small-print">Slots available</p>
                                </div>
                            </div>
                            <h1 class="pricing__left-heading">Join<br>Designjoy</h1>
                        </div>
                        <div class="pricing__left-bottom"><a
                                href="https://calendly.com/designjoy/designjoy-intro-1?month=2024-02" target="_blank"
                                class="pricing__left-inside-card top w-inline-block">
                                <div class="pricing__left-inside-card-left">
                                    <h5 class="pricing__left-card-small-heading">Book a 15-min intro call</h5>
                                    <p class="p-small smaller smallest m-b-0">Learn more about how DesignJoy works and
                                        how it can help you.</p>
                                </div><img
                                    src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de12548dcbda2881cd8ff5_Group%201.svg"
                                    loading="lazy" alt="">
                            </a><a href="https://designjoy.getrewardful.com/signup" target="_blank"
                                class="pricing__left-inside-card w-inline-block">
                                <div class="pricing__left-inside-card-left">
                                    <h5 class="pricing__left-card-small-heading _4">Refer a friend &amp; earn</h5>
                                    <p class="p-small smaller smallest m-b-0">Earn 5% monthly recurring commissions for
                                        each referral.</p>
                                </div><img
                                    src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de12548dcbda2881cd8ff5_Group%201.svg"
                                    loading="lazy" alt="">
                            </a></div>
                        <img src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de149940ab9eb5eaf6a916_4.svg"
                            loading="lazy" alt="" class="image-79">
                    </div>
                    <div data-w-id="215f8bbc-1d94-22cb-c472-3975de472baf"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        class="pricing__right-card">
                        <h4 class="heading-8">Membership</h4>
                        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100"
                            class="tabs w-tabs">
                            <div class="tabs-menu w-tab-menu" role="tablist">
                                <a data-w-tab="Tab 1" class="tab w-inline-block w-tab-link w--current"
                                    id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                                    <div>Social Media Marketing</div>
                                </a>
                                <a data-w-tab="Tab 2" class="tab w-inline-block w-tab-link" tabindex="-1"
                                    id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false"><img loading="lazy"
                                        src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de1509b0728fa49d0a4159_22.svg"
                                        alt="" class="tab__bolt">
                                    <div class="text-block">Web Development</div>
                                </a>

                                <a data-w-tab="Tab 3" class="tab w-inline-block w-tab-link" tabindex="-1"
                                    id="w-tabs-0-data-w-tab-3" href="#w-tabs-0-data-w-pane-3" role="tab"
                                    aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false"><img loading="lazy"
                                        src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de1509b0728fa49d0a4159_22.svg"
                                        alt="" class="tab__bolt">
                                    <div class="text-block">Graphic Design & Branding</div>
                                </a>

                            </div>
                            <div class="w-tab-content">
                                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0"
                                    role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
                                    <div class="pricing__right-top">
                                        <h4 class="m-b-0">$4,995<span class="per-month">/m</span></h4>
                                        <p class="p-small smaller smallest no">One request at a time. <span
                                                class="text-span-3">Pause or cancel anytime.</span><br></p>
                                    </div>
                                    <div class="pricing__right-bottom">
                                        <p class="p-small smaller smallest">What's included</p>
                                        <div class="w-layout-grid pricing__right-grid">
                                            <ul id="w-node-e550c3c3-661b-05d2-81c4-a474c1e7c807-25345308" role="list">
                                                <li>
                                                    <p class="p-small smaller smallest">One request at a time</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Average 48 hour delivery</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Unlimited brands</p>
                                                </li>
                                            </ul>
                                            <ul id="w-node-d77ee87c-05fc-f6a1-0852-343d9ba27069-25345308" role="list">
                                                <li>
                                                    <div class="div-block-24">
                                                        <p class="p-small smaller smallest">Webflow development</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Unlimited stock photos</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest web">Pause or cancel anytime</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pricing__right-cta-wrapper">
                                            <div class="button__wrapper m-t-0"><a
                                                    href="https://buy.stripe.com/fZe28BaiLfOO99e146"
                                                    class="button w-inline-block">
                                                    <div>Get started</div>
                                                </a></div>
                                            <div data-w-id="3de1f8c9-ebe1-2a4d-4279-3259e26ea939"
                                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="text-block-4">or <a
                                                    href="https://calendly.com/designjoy/designjoy-intro-1?month=2024-02"
                                                    target="_blank" class="link-2">book a call</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-w-tab="Tab 2" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                                    aria-labelledby="w-tabs-0-data-w-tab-1">
                                    <div class="pricing__right-top">
                                        <h4 class="m-b-0">$7,995<span class="per-month">/m</span></h4>
                                        <p class="p-small smaller smallest no">Double the requests. <span
                                                class="text-span-3">Pause or cancel anytime.</span><br></p>
                                    </div>
                                    <div class="pricing__right-bottom">
                                        <p class="p-small smaller smallest">What's included</p>
                                        <div class="w-layout-grid pricing__right-grid">
                                            <ul id="w-node-_4d1ba718-62d7-e091-d8fb-0c60a3c1cabe-25345308" role="list">
                                                <li>
                                                    <p class="p-small smaller smallest"><span class="highlight">Two
                                                            requests at a time</span></p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Average 48 hour delivery</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Unlimited brands</p>
                                                </li>
                                                <li>
                                                    <div class="div-block-24">
                                                        <p class="p-small smaller smallest web">Webflow development</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul id="w-node-_4d1ba718-62d7-e091-d8fb-0c60a3c1cacd-25345308" role="list">
                                                <li>
                                                    <p class="p-small smaller smallest">Unlimited stock photos</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest">Unlimited users</p>
                                                </li>
                                                <li>
                                                    <p class="p-small smaller smallest web">Pause or cancel anytime</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pricing__right-cta-wrapper">
                                            <div class="button__wrapper m-t-0"><a
                                                    data-w-id="4d1ba718-62d7-e091-d8fb-0c60a3c1cadc"
                                                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                    href="https://buy.stripe.com/00g3cF0Ib466bhm5kp"
                                                    class="button w-inline-block">
                                                    <div>Get started</div>
                                                </a></div>
                                            <div class="text-block-5">or <a
                                                    href="https://calendly.com/designjoy/designjoy-intro-1?month=2024-02"
                                                    target="_blank" class="link-2">book a call</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><img
                    src="https://cdn.prod.website-files.com/5837424ae11409586f837994/65de17fc9dfa7cc5347d952b_Group%2081.svg"
                    loading="lazy" alt="" class="image-80"> -->
           
                    <section class="section" id="pricing">
                        <div class="container">
                    
                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <div class="title-box text-center">
                                        <h3 class="title-heading mt-4">Best Pricing Package </h3>
                                        <p class="text-muted f-17 mt-3">Vivamus ac nulla ultrices laoreet neque mollis mi morbi
                                            elementum mauris
                                            sit amet arcu <br> fringilla auctor In eleifend maximus nisi sed vulputate.</p>
                    
                                        <img src="images/home-border.png" height="15" class="mt-3" alt="">
                                    </div>
                                </div>
                            </div> -->
                    
                    
                            <div class="row mt-5 pt-4">
                                <div class="col-lg-4 planbox">
                                    <div class="pricing-box mt-4">
                                        <div style="display: flex;justify-content: space-between;">
                                            <i class="mdi mdi-account h1"></i>
                                            <input style="width: 20px;"
                                            type="checkbox"
                                            [checked]="plan1"
                                            (change)="plan1 = !plan1"/>
                                        </div>
                                        <h4 class="f-20">Social Media Marketing</h4>
                    
                                        <div class="mt-4 pt-2">
                                            <p class="mb-2 f-18">Features</p>
                    
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Profile Optimization</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Engaging</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Advertising</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Measuring</p></div>

                                            <!-- <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Posting
                                            </p>
                                            <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Engaging</p>
                                            <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Advertising
                                            </p>
                                            <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Measuring
                                            </p> -->
                                        </div>
                    
                                        <!-- <p class="mt-4 pt-2 text-muted">Semper urna veal tempus pharetra elit habisse platea dictumst.
                                        </p> -->
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h4 class="text-muted"> <span class="plan pl-3 text-dark">&#8377;25,000 </span></h4>
                                            <p class="text-muted mb-0">Per Month</p>
                                        </div>
                    
                    
                                        <!-- <div class="mt-4 pt-3">
                                            <a href="" class="btn btn-primary btn-rounded">Purchase Now</a>
                                        </div> -->
                                    </div>
                                </div>
                    
                                <div class="col-lg-4 planbox">
                                    <div class="pricing-box mt-4">
                                        <!-- <div class="pricing-badge">
                                            <span class="badge">Featured</span>
                                        </div> -->

                                        <div style="display: flex;justify-content: space-between;">
                                            <i class="mdi mdi-account h1"></i>
                                            <input style="width: 20px;"
                                            type="checkbox"
                                            [checked]="plan2"
                                            (change)="plan2 = !plan2"/>
                                        </div>
                    
                                        <h4 class="f-20">Web Development</h4><br>
                    
                    
                                        <div class="mt-4 pt-2">
                                            <p class="mb-2 f-18">Features</p>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Templates Showcase</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Gathering Content</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Live</p></div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Redeem</p></div>

                                            <!-- <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Templates Showcase
                                            </p> -->
                                            <!-- <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Gathering Content

                                            </p> -->
                                            <!-- <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Live</p>
                                            <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>Redeem
                                            </p> -->
                                        </div>
                    
                                        <!-- <p class="mt-4 pt-2 text-muted">Semper urna veal tempus pharetra elit habisse platea dictumst.
                                        </p> -->
                    
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h4 class="text-muted"> <span class="plan pl-3 text-dark">&#8377;35,000 </span></h4>
                                            <p class="text-muted mb-0">Per Month</p>
                                        </div>
                    
                                        <!-- <div class="mt-4 pt-3">
                                            <a href="" class="btn btn-primary btn-rounded">Purchase Now</a>
                                        </div> -->
                                    </div>
                                </div>
                    
                                <div class="col-lg-4 planbox">
                                    <div class="pricing-box mt-4">

                                        <div style="display: flex;justify-content: space-between;">
                                            <i class="mdi  mdi-account h1"></i>
                                            <input style="width: 20px;"
                                            type="checkbox"
                                            [checked]="plan3"
                                            (change)="plan3 = !plan3"/>
                                        </div>
                                        <h4 class="f-20">Graphic Design & Branding</h4>
                    
                    
                                        <div class="mt-4 pt-2">
                                            <p class="mb-2 f-18">Features</p>
                    
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Connect</p>
                                                </div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Research</p>
                                                </div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Design</p>
                                                </div>
                                            <div style="display: flex;font-size: 20px;" class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><p>Final</p>
                                                
                                            </div>
                                        </div>
                    
                                        <!-- <p class="mt-4 pt-2 text-muted">Semper urna veal tempus pharetra elit habisse platea dictumst.
                                        </p> -->
                    
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h4 class="text-muted"> <span class="plan pl-3 text-dark">&#8377;15,000 </span></h4>
                                            <p class="text-muted mb-0">Per Month</p>
                                        </div>
                    
                                        <!-- <div class="mt-4 pt-3">
                                            <a href="" class="btn btn-primary btn-rounded">Purchase Now</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

             </div>
        </div>
    </div>
</div>